.navbar-default .navbar-nav > li > a {
    color: #417900;
}

.navbar-default {
    color: #417900;
    padding: 0 15px;
    line-height: 90px;
    text-decoration: none;
    border-color: white;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #417900;
    background-color: white;
    font-weight: bold;
}

.dropdown-menu > li > a:hover, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > li > a:focus {
    color: #417900;
    text-decoration: none;
    background-color: #dadada;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #417900;
    background-color: lightgray;
}

footer a {
    text-decoration: none;
}

footer ul {
  margin: 10px auto;
  padding-left: 0px;
}

footer ul li {
  padding-left: 10px;
  display: inline;
}